$fit2me-blue: #25859b;
$fit2me-light-blue: #25859bef;


.holder{
    height: 100%;
    width: 100%;
}


.workout-cont{
    position: fixed;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/attic_gym1.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.workout-inner{
    width: 50%;
    box-shadow: 3px 3px 8px gray;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Rubik', sans-serif;
    margin-top: 40px;
    background-color:white;
}

.workout-head{
    display: flex;
    justify-content: center;
    border-bottom: solid #25859b 1px;
}

.workout-prof{
    padding-left: 60px;
    margin-top: 40px;
}

.t-l img{
    height: 150px;
    width: 150px;
    border-radius: 4px;
}

.t-r{
    padding-left: 20px;
}

.t-cont{
    display: flex;
    align-items: center;
    padding-left: 90px;
}

