.main-nav-div{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

}

.main-nav-div img{
    height: 60px;
    width: 240px;

}

.find-t{
    color: #25859b;
    font-family: 'Rubik', sans-serif;
    border: solid #25859b 1px;
    height: 40px;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     margin-right: 25px;

}
.find-t a{
    text-decoration: none;
   color: #25859b;
}
.find-t:hover a{
   color: white;
}
.find-t span:hover{
 color:white;
}
.find-t i{
    font-size: 14px;
    padding: 3px 8px;
}
.find-t span{
 padding-right: 10px;
}

.find-t:hover{
   background-color:black;
   color: white;
   transform: transition(0.4s);
   border: solid black 1px;

}


.session-btn{
    color:#25859b;
    font-family: 'Rubik', sans-serif;
    border: solid#25859b 1px;
    border-radius: 20px;
    background-color: white;
    height: 40px;
    font-weight: 600px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 25px;
}

.session-btn:hover{
    background-color:black;
   color: white;
   transform: transition(0.4s);
    border: solid black 1px;
    
}

.session-btn:focus{
outline: none;
}

.user-icon{
    color:black;
    padding: 0 30px;
    font-size: 16px;
    cursor: pointer;
}

.main-nav-div-s{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 2;

}

.main-nav-div-s img{
    height: 60px;
    width: 240px;

}

.find-t-s{
    color: white;
    font-family: 'Rubik', sans-serif;
    border: solid white 1px;
    height: 40px;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     margin-right: 25px;

}
.find-t-s a{
    text-decoration: none;
   color: white;
}
.find-t-s:hover a{
   color: white;
}
.find-t-s span:hover{
 color:white;
}
.find-t-s i{
    font-size: 14px;
    padding: 3px 8px;
}
.find-t-s span{
 padding-right: 10px;
}

.find-t-s:hover{
   background-color:black;
   color: white;
   transform: transition(0.4s);
   border: solid black 1px;

}

.session-btn2{
    color:white;
    font-family: 'Rubik', sans-serif;
    border: solid white 1px;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    font-weight: 600px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 25px;
}

.session-btn2:hover{
    background-color:black;
   color: white;
   transform: transition(0.4s);
    border: solid black 1px;
    
}

.session-btn2:focus{
outline: none;
}

#useri-2{
    color: white;
    padding: 0 30px;
    font-size: 16px;
    cursor: pointer;
}