.rating-star{
    width: 60px;
    height: 12px;
}

.review-box{
    margin-right: 40px;
    border-bottom: 1px solid #25859b;
    display: flex;
    height: 150px;
    margin-top: 15px;
}
.delete-background{
    position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.35);
   z-index: 10;
   display: none;
}

.update-background{
    position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.35);
   z-index: 10;
   display: none;
}

.delete-container-top{
    background-color: white;
   position: absolute;
   border-radius: 5px;
   width: 350px;
   top: 50%;
   left: 44%;
   transform: translate(-50%, -50%); 
   height: 300px;
   border: 1px solid #25859b;
    box-shadow: 3px 3px 3px grey;
    z-index: 1000;
}

.update-container-top{
     background-color: white;
   position: absolute;
   border-radius: 5px;
   top: 50%;
   left: 44%;
   transform: translate(-50%, -50%);
   border: 1px solid #25859b;
    box-shadow: 3px 3px 3px grey;
    z-index: 1000;
}


.review-upload{
    font-size: 8px;
    color: rgb(192, 192, 192);
}

.workout-date{
    margin-top: 15px;
}

.workout-date-date{
    margin-bottom: -15px;
    font-size: 12px;
    width: 110px;
}

.message-text{
    font-weight: bold;
    color: rgb(59, 59, 59);
    margin-top: 0px;
    margin-left: 30px;
    text-decoration: underline;
}

.review-boxes-container{
    margin-top: -1px;
}

.str{
    color: #25859b;
}
.delete-btn{
    margin-left: 15px;
}

.str-g{
    color: lightgrey;
}

.review-created-time{
    margin-left: 3px;
}

.review-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-delete-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #25859b;
}

.delete-btn:hover{
    cursor: pointer;
    color: black;
    transition: 0.7s;
}
.update-rev-form{
    padding: 20px;
}
.update-btn:hover{
    cursor: pointer;
    color: black;
    transition: 0.7s;
}

.delete-text-q{
    color: black;
    margin-left: 10px;
}

.buttons-box{
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

.del-yes{
    background-color: white;
    font-size: 30px;
    color: #25859b;
    border: 2px solid;
    border-radius: 10px;
    outline: none;
}

.del-yes:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.del-no{
    margin-left: 55px;
    background-color: white;
    font-size: 30px;
    color: #25859b;
    border: 2px solid;
    border-radius: 10px;
    outline: none;
}

.del-no:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.delete-container-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area-text-update{
    width: 500px;
    height: 100px;
    resize: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border: 2px #25859b solid;
    outline: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 15px;
}