.rating-star{
    width: 60px;
    height: 12px;
}

.review-box{
    margin-right: 40px;
    border-bottom: 1px solid #25859b;
    display: flex;
    height: 100px;
    margin-top: 15px;
}

.rating-top{

}


.review-upload{
    font-size: 8px;
    color: rgb(192, 192, 192);
}

.workout-date{
    margin-top: 15px;
}

.workout-date-date{
    margin-bottom: -15px;
    font-size: 12px;
}

.message-text{
    font-weight: bold;
    color: rgb(59, 59, 59);
    margin-top: 0px;
    margin-left: 30px;
    text-decoration: underline;
}

.review-boxes-container{
    margin-top: -1px;
}