.text-area-text{
    width: 500px;
    height: 300px;
    resize: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border-top: 2px #25859b solid;
    border-bottom: 2px #25859b solid;
    outline: none;
    margin-left: 5px;
    margin-right: 5px;
    border-left: none;
    border-right: none;
    padding-top: 10px;
}

.review-body{
    font-family: "Rubik", sans-serif;
    margin-left: 5px;
    margin-bottom: 6px;
}

.review-container{
    display: flex;
    justify-content: center;
    background-image: url('../../assets/images/home_gym3.png');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.review-form-trainer-name{
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif, "Rubik";
    color: black;
    margin: 30px;
}
.review-post-button{
    font-family: sans-serif, "Rubik";
    font-size: 20px;
    color: #25859b;
    border: 2px #25859b solid;
    padding: 10px;
    background-color: white;
    border-radius: 24px;
    outline: none;
    position: relative;
    left: 180px;
    margin-top: 10px;
}

.review-post-button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.review-trainer-pic{
    width: 100px;
    border: none;
    border-radius: 16px;
}

.review-form-texts{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.review-content{
    margin-top: 25px;
    margin-bottom: 25px;
}

.review-form-main{
    background-color: white;
    margin-top: 40px;
}

.select-rating-text{
    font-family: sans-serif, 'Rubik';
    margin-left: 7px;
    font-size: 16px;
    text-align: center;
}

td{
    font-family: sans-serif, 'Rubik';
    font-size: 16px;
}

.rating-radio-button{
    font-family: sans-serif, "Rubik";
}


.review-content:first-child{
    margin-left: 10px;
}

.radio-button:hover{
    cursor: pointer;
}

.radio-button-container{
    display: flex;
    justify-content: space-evenly;
}