.rating-star{
    width: 60px;
    height: 12px;
}

.review-box{
    margin-right: 40px;
    border-bottom: 1px solid #25859b;
    display: flex;
    height: 200px;
    margin-top: 15px;
}
.delete-background{
    position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.35);
   z-index: 10;
   display: none;
}

.delete-container-top{
    background-color: white;
   position: absolute;
   border-radius: 5px;
   width: 350px;
   top: 50%;
   left: 44%;
   transform: translate(-50%, -50%); 
}
.rating-top{

}


.review-upload{
    font-size: 8px;
    color: rgb(192, 192, 192);
}

.workout-date{
    margin-top: 15px;
}

.workout-date-date{
    margin-bottom: -15px;
    font-size: 12px;
}

.message-text{
    font-weight: bold;
    color: rgb(59, 59, 59);
    margin-top: 0px;
    margin-left: 30px;
    text-decoration: underline;
}

.review-boxes-container{
    margin-top: -1px;
}

.str{
    color: #25859b;
}
.delete-btn{
    margin-left: 15px;
}

.str-g{
    color: lightgrey;
}

.review-created-time{
    margin-left: 3px;
}

.review-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-delete-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #25859b;
}

.delete-btn:hover{
    cursor: pointer;
    color: black;
    transition: 0.7s;
}

.update:hover{
    cursor: pointer;
    color: black;
    transition: 0.7s;
}


