.text-area-text{
    width: 500px;
    height: 300px;
    resize: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.review-container{
    display: flex;
    justify-content: center;
}



