
.splash-intro-container{
    margin: 0;
    display: flex;
    padding: 0;
    height: 800px;
    // justify-content: center;
    // align-items: center;
    background: rgb(20, 20, 20);
    // margin-top: 30px;
}
#slidepic{
    opacity: 0.7;
    filter: alpha(opacity=40); /* msie */
    object-fit: cover;
    height: 140%F;
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}
.slider{
    width: 100%;
    height: 800px;
    // border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;

}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
    position: relative;
    height: 100%;
}

.slide img{
    width: 100%;
    height: 800px;
}

// .slide-image{
//     width: 1000px;
// }

.navigation-manual{
    position: relative;
    // width: 800px;
    // margin-top: -40px;
    display: flex;
    justify-content: center;
    top: 248px;
}

.manual-btn{
    border: 2px solid rgb(80, 80, 80);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: rgb(227, 227, 227);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: none;
    width: 1109px;
    justify-content: center;
    margin-top: 748px;
}

.navigation-auto div{
    border: 2px solid #25859b;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn2{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn3{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn4{
    background: #25859b;
}

.slide-text-top{
    position: absolute;
    color: white;
    bottom: 242px;
    left: 20px;
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

.slide-text-bot{
    position: absolute;
    color: white;
    top: 598px;
    font-size: 46px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    width: 100%;
    text-align: center;
}

.slide-text-intro{
    
    position: absolute;
    color: white;
    font-weight: 900;
    bottom: 265px;
    // left: 130px;
    font-size: 80px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    width: 100%;
    text-align: right;
    right: 15px;
    top: 15px;
}

.slide-text-main{
    width: 100%;
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 350px;
    // left: px;
    font-size: 34px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    text-align: right;
    right: 15px;
}

.slide-text-main-box{
    position: absolute;
    width: 600px;
    margin: 30px;
    right: 600px;
}

.slide-text-con{
    width: 100%;
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 350px;
    // left: px;
    font-size: 34px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    text-align: center;
}

.slide-reserve-button{
    
    position: relative;
    color: white;
    bottom: 380px;
    left: 500px;
    font-size: 25px;
    font-family: "Rubik";
    border: solid 2px white;
    border-radius: 16px;
    width: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    text-decoration: none;
}
.reserve-link{
    text-decoration: none;
}
.slide-reserve-button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.7s;
    position: relative;
    width: 100%;
}

.hold{
    margin-top:-8px;
}

.photo{
    position: relative;
    width: 100%;
    height: 620px;
    overflow: hidden;
    display:flex;
    align-items: center;
    
    

}
.photo-1{

//     background-image: linear-gradient(rgba(43,93, 158, 0.5), rgba(43,93, 158, 0.5)),url(../../assets/images/fitness_fail.jpg);

//    background-position: center;
//     background-size :cover;
    filter: blur(1px);
    height:100%;
    width:100%;
    background:rgb(43,93, 158);
    position: relative;

}
.photo-1 img{
   height:100%;
    width:100%; 
   -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  opacity: 0.5;
  object-fit: cover;
  object-position: center;

}

.p1{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.photo-2{
    // background-image: linear-gradient(rgba(34, 118, 179, 0.5), rgba(34, 118, 179, 0.5)), url(../../assets/images/splash_intro.jpg);
    
    
    //  background-position: center;
    // background-size :cover;
    filter: blur(1px);
    height:100%;
    width:100%;
    background:rgb(34, 118, 179);
    position: relative;

}
.photo-2 img{
   height:100%;
    width:100%; 
   -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  opacity: 0.5;
  object-fit: cover;
  object-position: center;
}
.p2{
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
    margin-top: -115px;
}
.photo-3{
//     background-image:  linear-gradient(rgba(37, 118, 156, 0.5), rgba(37, 118, 156, 0.5)), url(../../assets/images/splash_intro2.jpg);
    
//    background-position: center;
//     background-size :cover;
   filter: blur(1px);
    height:100%;
    width:100%;
    background:rgb(37, 118, 156);
    position: relative;

}
.photo-3 img{
   height:100%;
    width:100%; 
   -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  opacity: 0.5;
  object-fit: cover;
  object-position: center;
}

.p3{
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 80%);
    -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 80%);
    margin-top: -115px;
}
.photo-4{
    // background-image: linear-gradient(rgba(46, 151, 158, 0.5), rgba(46, 151, 158, 0.5)),url(../../assets/images/splash_intro3.jpg);
    
    //  background-position: right top;;
    // background-size :cover;
 filter: blur(1px);
    height:100%;
    width:100%;
    background:rgb(46, 151, 158);
    position: relative;

}
.photo-4 img{
   height:100%;
    width:100%; 
   -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  opacity: 0.5;
  object-fit: cover;
  object-position: right top;
}
.p4{
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
    margin-top: -115px;
}

.splash-footer{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    clip-path: polygon(0 41%, 100% 0%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 41%, 100% 0%, 100% 100%, 0 100%);
    margin-top: -115px;
    background-color:gray;
    
}

.cap{
    position:absolute;

    font-family: Chivo, sans-serif;
    color:white;
}
.cap-1{
    text-align: justify;
    margin-right: 95px;
    right:0;
    width: 386px;

}
.cap-2{
    text-align: justify;
margin-left: 95px;
width: 314px;

}
.cap-3{
    text-align: justify;
    margin-right: 95px;
    right:0;
    width: 364px;

}
.cap-4{
    text-align: justify;
margin-left: 95px;
width: 287px;

}
.cap p{
    font-size: 25px;
    margin: 0;
}
.cap h2{
    font-size: 25px;
    margin: 0 0 10px 0;
}
.splash-footer{
 display:flex;
    align-items: flex-end;
    justify-content: center;
    font-family: Chivo, sans-serif;
  
}
.footer-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.footer-div h2{
    color: white;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}
.member-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.member{
   display: flex;
   flex-direction: column;
    justify-content: space-around;
    align-items: center; 

}
.member p{
    color: white;
    margin: 0;
}
.techs{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.techs p{
    color:white;
    font-size: 12px;
    margin: 12px 0 0 0;
}
.techs-img{
    display:flex;
    justify-content: center;
    align-items: center;
}
.node-t{
    color: white;
    font-size: 40px;
}

.techs-img *{
    margin: 0 35px;
}


#react-img{
    height: 25px;
}
#express{
    height: 45px;
}
.ftr-links{
    display: flex;
    justify-content: center;
  
}
.ftr-link:hover i:first-of-type{
    color: #25859bef;
;
}
.ftr-links a{
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin: 5px;
}

.fc{
  color:#C0C0C0;
   font-size: 25px; 

}
.fc:hover{
  color:white;
  cursor: pointer;
   transform: transition(0.3s)
}

.fi{
    color: white;
    font-size: 16px;
    position: absolute; 
    z-index: 2;
}
.fi:hover{

  cursor: pointer;
}

.copyr{
    color:white;
    font-size: 10px;
    margin: 5px 0 0 0;
}

// .cap2{
//      width:300px;
//         font-family: Chivo, sans-serif;

//     position:absolute;
//     color:white;
// }
// .cap3{
//      width:300px;
//         font-family: Chivo, sans-serif;

//     position:absolute;
//     color:white;
// }
// .cap4{
//      width:300px;
//         font-family: Chivo, sans-serif;

//     position:absolute;
//     color:white;
// }
