
.splash-intro-container{
    margin: 0;
    display: flex;
    padding: 0;
    height: 800px;
    // justify-content: center;
    // align-items: center;
    background: #25859b;
}

.slider{
    width: 100%;
    height: 800px;
    // border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;

}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
    position: relative;
}

.slide img{
    width: 100%;
    height: 800px;
}

// .slide-image{
//     width: 1000px;
// }

.navigation-manual{
    position: relative;
    // width: 800px;
    // margin-top: -40px;
    display: flex;
    justify-content: center;
    top: 248px;
}

.manual-btn{
    border: 2px solid #25859b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #25859b;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: none;
    width: 1109px;
    justify-content: center;
    margin-top: 748px;
}

.navigation-auto div{
    border: 2px solid #25859b;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn2{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn3{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn4{
    background: #25859b;
}

.slide-text-top{
    -webkit-text-stroke: 0.5px black;
    position: relative;
    color: white;
    bottom: 720px;
    left: 50px;
    font-size: 20px;
    font-family: 'Rubik';
}

.slide-text-bot{
    -webkit-text-stroke: 1px black;
    position: relative;
    color: white;
    bottom: 170px;
    left: 80px;
    font-size: 20px;
    font-family: 'Rubik';
    // margin-right: 20px;
}

.slide-text-intro{
    -webkit-text-stroke: 1px black;
    position: relative;
    color: white;
    font-weight: bold;
    bottom: 220px;
    left: 80px;
    font-size: 50px;
    font-family: 'Rubik';
    // margin-right: 20px;
}

.slide-text-main{
    -webkit-text-stroke: 1px black;
    position: relative;
    color: white;
    font-weight: bold;
    bottom: 280px;
    left: 600px;
    font-size: 25px;
    font-family: 'Rubik';
    // margin-right: 20px;
}

.slide-text-main-box{
    position: absolute;
    width: 600px;
    margin: 30px;
    right: 600px;
}

.slide-reserve-button{
    -webkit-text-stroke: 1px black;
    position: relative;
    color: white;
    bottom: 380px;
    left: 500px;
    font-size: 25px;
    font-family: "Rubik";
    border: solid 2px white;
    border-radius: 16px;
    width: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    text-decoration: none;
}
.reserve-link{
    text-decoration: none;
}
.slide-reserve-button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.7s;
}