
.splash-intro-container{
    margin: 0;
    display: flex;
    padding: 0;
    height: 800px;
    // justify-content: center;
    // align-items: center;
    background: rgb(20, 20, 20);
    // margin-top: 30px;
}
#slidepic{
    opacity: 0.7;
    filter: alpha(opacity=40); /* msie */
    object-fit: cover;
    height: 140%F;
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}
.slider{
    width: 100%;
    height: 800px;
    // border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;

}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
    position: relative;
    height: 100%;
}

.slide img{
    width: 100%;
    height: 800px;
}

// .slide-image{
//     width: 1000px;
// }

.navigation-manual{
    position: relative;
    // width: 800px;
    // margin-top: -40px;
    display: flex;
    justify-content: center;
    top: 248px;
}

.manual-btn{
    border: 2px solid rgb(80, 80, 80);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: rgb(227, 227, 227);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: none;
    width: 1109px;
    justify-content: center;
    margin-top: 748px;
}

.navigation-auto div{
    border: 2px solid #25859b;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn2{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn3{
    background: #25859b;
}
#radio1:checked ~ .navigation-auto .auto-btn4{
    background: #25859b;
}

.slide-text-top{
    position: absolute;
    color: white;
    bottom: 242px;
    left: 20px;
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

.slide-text-bot{
    position: absolute;
    color: white;
    top: 598px;
    font-size: 46px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    width: 100%;
    text-align: center;
}

.slide-text-intro{
    
    position: absolute;
    color: white;
    font-weight: 900;
    bottom: 265px;
    // left: 130px;
    font-size: 80px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    width: 100%;
    text-align: right;
    right: 15px;
}

.slide-text-main{
    width: 100%;
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 350px;
    // left: px;
    font-size: 34px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    text-align: right;
    right: 15px;
}

.slide-text-main-box{
    position: absolute;
    width: 600px;
    margin: 30px;
    right: 600px;
}

.slide-text-con{
    width: 100%;
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 350px;
    // left: px;
    font-size: 34px;
    font-family: 'Rubik', sans-serif;
    // margin-right: 20px;
    text-align: center;
}

.slide-reserve-button{
    
    position: relative;
    color: white;
    bottom: 380px;
    left: 500px;
    font-size: 25px;
    font-family: "Rubik";
    border: solid 2px white;
    border-radius: 16px;
    width: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    text-decoration: none;
}
.reserve-link{
    text-decoration: none;
}
.slide-reserve-button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.7s;
    position: relative;
    width: 100%;
}