.holder{
    height: 100%;
    width: 100%;
}

.trainer-intro-container{
// position: fixed;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/garage_gym1.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;

}

.trainer-profile{
    font-size: 18px;
    font-family: "Rubik";
}

.trainer-specialties:first-child{
    margin-right: 10px;
    margin-bottom: 15px;
}

.trainer-review-button{
    text-decoration: none;
    color: #25859b;
}

.trainer-review-button button{
    border: 2px solid#25859b;
    text-decoration: none;
    color: #25859b;
    background-color:white;
    height: 40px;
    border-radius: 20px;
    width: 175px;
    font-size: 18px;

}

.trainer-review-button button:hover{
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}

.trainer-review-button button:focus{
  outline: none;
}

.trainer-profile-top{
    // display: flex;
    justify-content: space-between;
}

.trainer-profile-box{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 40px;
    box-shadow: 3px 3px 8px gray;
    margin-right: 300px;
}
.trainer-prof-pic{
    margin-top: 21px;
    border-radius: 4px;
    height: 300px;
    width:235px;

}
.review-index-container{
    background-color: rgb(255, 250, 245);
}
.trainer-review-button:visited{
    text-decoration: none;
}

.trainer-specialty{
    margin-left: 5px;
}

// .trainer-booleans{
//     border: 2px black solid;
//     width: 300px;
//     border-radius: 12px;
//     margin-top: 18px;
//     box-shadow: black 1px 1px;
// }

// .trainer-booleans:hover{
//     transition: 1s;
//     background-color: #25859b;
// }

// .trainer-booleans-option{
//     // margin-left: 10px;
// }
.trainer-booleans{
    padding-left: 10px;
    padding-right: 10px;
}


.trainer-booleans p{
font-family: "Rubik", sans-serif;
}

.trainer-booleans-title{
    // margin-left: 10px;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    text-align: center;

}

.trainer-workout-container{
    display: flex;
    background-color: white;
    box-shadow: 3px 3px 8px gray;
    font-family: "Rubik", sans-serif;
    flex-direction: column;
    align-items: center;
    height: 260px;
    margin-top: 200px;
    position: fixed;
    margin-left: 800px;
}

.trainer-book-workout button{
    border: 2px solid  #25859b;
    text-decoration: none;
    color:  #25859b;
    border-radius: 20px;
    height: 40px;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    background-color:white;
    width: 175px;
    font-size: 18px;
    margin-top: 10px;
}

.trainer-book-workout a{ 
    text-decoration: none;
    color:  #25859b;
    font-family: "Rubik", sans-serif;
}

.trainer-book-workout button:hover{
     border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}
.trainer-book-workout button:focus{
    outline: none;
}

.trainer-pro-cont{
    display: flex;
    padding-bottom: 20px;
    border-bottom: solid #25859b 1px;
}

.trainer-pro-l{
    margin-right: 15px;

}

.trainer-revs{
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}

.revs-head{
    padding-bottom: 5px;
    border-bottom: solid #25859b 1px;
}

.show-page-bio{
    font-size: 12px;
    width: 300px;
    // border: 1px #25859b solid;
    padding: 5px;
    border-radius: 12px;
    // margin-top: 10px;
    color: rgb(80, 80, 80);
    margin-left: 15px;
}
.ratings-box{
    display: flex;
    position: relative;
}
.avg-score{
    margin-right: 10px;
    font-size: 10px;
}

.avg-score-trainer{
    margin-top: -11px;
    font-size: 24px;
    text-align: center;
    position: relative;
    right: 5px;
}

.rating-image-box{
    position: relative;
    right: 75px;
    top: 5px;
}

